<div class="flex flex-col md:flex-row justify-between items-start">
    <div class="flex flex-col justify-center items-center w-full md:basis-5/12">
        <h1 class="montserrat text-lg underline mb-2">Checkout Items</h1>
        <% @total_cents = 0 %>
        <% cart.each do |product| %>
        <div class=' bg-slate-50 shadow-md shadow-yellow-800 w-full m-auto mb-5 p-4 rounded-md flex justify-center items-center'>
            <div class='basis-5/12'>
                <% if product.image.present? %>
                    <p><%= image_tag(product.image, alt:'product image', style: 'height:150px', class:'m-auto') %></p>
                <% end %>
            </div>
            <div class='basis-7/12 text-center'>
                <h3><span class="text-red-400"><%= product.brand.name %> - <%= link_to product.name, product %></span></h3>
                <p>Unit price: <span class="text-red-400"><%= number_to_currency (product.price_cents/100.0) %></span></p>
                <% if item = session[:cart].find{ |cart_product| cart_product['id']== product.id}%>
                    <p>Quantity: <span class="text-red-400"><%= item['qty'] %></span></p>
                <% end %>
                <% @subtotal_cents = product.price_cents*item['qty'].to_i %>
                <% @total_cents += @subtotal_cents%>
                <p>Sub-total: <span class="text-red-400"><%= number_to_currency (@subtotal_cents/100.0) %></span></p>
            </div>
        </div>
        <%end%>
    </div>

    <div class="flex flex-col justify-center items-center w-full md:basis-6/12">
        <h1 class="montserrat text-lg underline mb-2">Payment information</h1>
        <div class="bg-slate-50 shadow-md shadow-yellow-800 w-full m-auto mb-5 p-4 rounded-md flex flex-col items-start">
            <div class="mx-auto">
                <% if shipping_address = session[:address] %>
                    <p>Address: <span class="text-red-400"><%= shipping_address %></span></p>
                <% end %>
                <% if province = session[:province] %>
                    <p>Province: <span class="text-red-400"><%= province["name"] %></span></p>
                <% end %>
                <% if @gst !=0 %>
                    <p>GST: <span class="text-red-400"><%= number_to_currency (@total_cents/100.0*@gst) %></span></p>
                <% end %>
                <% if @pst !=0 %>
                    <p>PST: <span class="text-red-400"><%= number_to_currency (@total_cents/100.0*@pst) %></span></p>
                <% end %>
                <% if @hst !=0 %>
                    <p>HST: <span class="text-red-400"><%= number_to_currency (@total_cents/100.0*@hst) %></span></p>
                <% end %>
                <p>Item(s) Sub-total: <span class="text-red-400"><%= number_to_currency (@total_cents/100.0) %></span></p>
                <p>Estimated Tax: <span class="text-red-400"><%= number_to_currency (@total_cents/100.0*(@gst+@pst+@hst)) %></span></p>
                <% @total_tax_rate = (@gst+@pst+@hst) %>
                <p>Order Total: <span class="text-red-400"><%= number_to_currency (@total_cents/100.0*(1+@gst+@pst+@hst)) %></span></p>
            </div>
        </div>
        <div class="w-full">
            <% if !current_customer.present? || !current_customer.province.present? %>
                <div class="w-full">
                    <%= form_with(url: cart_shipping_address_path, method: :get, local: true) do |form| %>
                    
                    <input type="hidden" name="total_cents" id="total_cents" value=<%= @total_cents %>>
                    <div class="flex flex-col xl:flex-row mb-2 w-full">
                        <%= text_field_tag(:address, nil, class: "input", placeholder: 'Shipping Address', class:"basis-2/3") %>
                        <%= form.select :province, options_for_select(Province.all.map {|province| [province.name, province.id]}), class:"" %>
                        <div class="xl:ml-1 bg-yellow-500 hover:bg-yellow-400 text-white shadow-md rounded-md text-center p-2 mt-3 xl:mt-0">
                            <%= submit_tag("Update", class: "button is-primary") %>
                        </div>
                    </div>


                    <% end %>
                </div>
            <% end %>
            <% if province = session[:province] %>
            <div class="w-full text-center">
                <%= form_with(url: cart_confirm_order_path, method: :get, local: true) do |form| %>
                    <input type="hidden" name="total_cents" id="confirm_order_total_cents" value=<%= @total_cents %>>
                    <input type="hidden" name="total_tax_rate" id="confirm_order_total_tax_rate" value=<%= @total_tax_rate %>>
                    <div class="hover:bg-yellow-400 bg-yellow-500 text-white shadow-md rounded-md px-6 py-2">
                        <%= submit_tag("Confirm Order", class: "button is-primary") %>
                    </div>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>
