<div class="flex justify-center">
  <div class="w-full sm:w-2/3 lg:w-1/2 border-2 border-white rounded-lg p-16">
    <h2 class="text-center text-xl mb-5">Login</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-full focus:border-2 focus:border-yellow-300" %>
      </div>

      <div class="field mb-5">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"w-full focus:border-2 focus:border-yellow-300" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-5">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions border shadow-md px-4 py-2 bg-yellow-500 hover:bg-yellow-400 text-white rounded-md text-center mb-5">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "customers/shared/links" %>
  </div>
</div>
