<div class="flex flex-col text-base text-black justify-center items-center w-5/6 lg:w-1/2 m-auto">
    <h1 class="text-2xl mb-5">User Information</h1>
    <div class="w-full mb-10">
      <%= form_with(url: customer_info_save_path) do |form| %>
          <div class="text-black mb-3">
            <%= form.label :name, class: "" %><br>
            <%= text_field_tag(:name, @customer_info.name, class: "input w-full", placeholder: "Name") %>
          </div>

          <div class="text-black mb-5">
            <%= form.label :address, class: "" %><br>
            <div class="flex flex-col lg:flex-row">
              <%= text_field_tag(:address, @customer_info.address, class: "input", placeholder: "Address", class:"basis-2/3") %>
              <%= form.select :province, options_for_select(Province.all.map {|province| [province.name, province.id]}, @customer_info.province&.id), class:"" %>
            </div>
          </div>

          <div class="text-center">
            <%= button_tag("Update", class: "w-full border text-white text-xl rounded-md py-2 mb-3 shadow-md bg-yellow-500 hover:bg-yellow-400") %>
          </div>
      <% end %>
    </div>
    <% if @orders_history.count() > 0 %>
      <h1 class="text-2xl mb-10">You have <%= pluralize(@orders_history.count(), 'History Order')%></h1>
      <%= render "orders_history", collection: @orders_history %>
    <% end %>
    <div class="w-full">
      <%= button_to "Logout",destroy_customer_session_path, method: :delete, class:"w-full border text-white text-xl rounded-md py-2 mb-3 shadow-md bg-red-600 hover:bg-red-500" %>
    </div>
</div>