<div class="min-h-16 p-4">
    <%= form_with(url: products_search_path, method: :get, local: true) do |form| %>
      <div class="container flex justify-center items-center h-4">
        <div class="text-black">
          <%= text_field_tag(:keywords, nil, class: "input w-36", placeholder: 'Search product') %>
        </div>
        <div class="text-black">
          <%= form.select :category, [["All category", "All"]] + Category.all.map { |category| [category.name, category.name] }  %>
        </div>
        <div class="">
          <%= button_tag "Search", class:"border rounded-md ml-1 p-2 bg-yellow-600 hover:bg-yellow-500"%>
        </div>
      </div>
    <% end %>
</div>
<div class="grid grid-cols-4 gap-4">

<% @products.each do |product| %>
  <%= render "product", product: product %>
<% end %>

</div>
<div class="text-center text-2xl mt-10">
  <%= paginate @products %>
</div>