<h1 class="mb-10 text-3xl">Product - <%= @product.name %> </h1>

<div class="text-xl">
  <p class="mb-3">Category: <span class="text-red-400"><%= @product.category.name %></span></p>
  <p class="mb-3">Brand: <span class="text-red-400"><%= @product.brand.name %></span></p>
  <p class="mb-3">Model: <span class="text-red-400"><%= @product.name %></span></p>
  <p class="mb-3">Price: <span class="text-red-400"><%= number_to_currency (@product.price_cents/100) %></span></p>
  <p class="mb-3">Description: <span class="text-orange-300 hover:text-yellow-400"><%= @product.description %></span></p>

</div>