<footer>
  <div class="bg-gradient-to-r from-gray-600 to-gray-500 flex flex-wrap items-center justify-between mx-auto p-10 text-xl">
    <div class="text-lg px-8 py-4">
        <p class="mb-5">Phone: <%= @main_store_contact.phone %></h1>
        <p class="mb-5">E-mail: <%= @main_store_contact.email %></h1>
        <p >Address: <%= @main_store_contact.location %></h1>
    </div>
    <div class="text-lg px-8 py-4">
        <p>Open hours:</p>
        <p class="">Mon: <%= @main_store_contact.open_mon %></p>
        <p class="">Tue: <%= @main_store_contact.open_tue %></p>
        <p class="">Wed: <%= @main_store_contact.open_wed %></p>
        <p class="">Thu: <%= @main_store_contact.open_thu %></p>
        <p class="">Fri: <%= @main_store_contact.open_fri %></p>
        <p class="">Sat: <%= @main_store_contact.open_sat %></p>
        <p class="">Sun: <%= @main_store_contact.open_sun %></p>
    </div>
  </div>
</footer>