<!DOCTYPE html>
<html>
  <head>
  <title>Camera Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container mx-auto my-8 px-5 flex flex-col justify-center">
      <%= yield %>
    </main>
  </body>
</html>
