<!DOCTYPE html>
<html>
  <head>
  <title>Camera Store</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-black bg-white h-screen flex flex-col justify-between">
    <header>
      <nav class="montserrat">
        <div class="bg-gradient-to-r from-yellow-400 to-yellow-500 flex flex-wrap items-center justify-between mx-auto px-4 text-lg">
          <div class="flex justify-center items-center">
            <%= link_to image_tag( "WBCLogo.png", alt: "Company Logo", class:"size-12"), root_path, class:"text-base"  %>
            <h1><%= link_to 'Winnipeg Best Camera', root_path, class:"text-base" %></h1>
          </div>
          <div class="">
            <ul class="flex flex-row space-x-8 mr-2">
              <li class="hover:text-gray-500 hover:font-semibold"><%= link_to 'Home', root_path %></li>
              <li class="hover:text-gray-500 hover:font-semibold"><%= link_to 'Products', products_path %></li>
              <li class="hover:text-gray-500 hover:font-semibold"><%= link_to 'About', about_path %></li>
            </ul>
          </div>
          


          <div class="basis-2/12 flex justify-end items-center">
            <% if current_customer != nil %>
                <p>Hi, <%= current_customer.name %></p>
                <p><%= link_to icon("user-circle", class:"size-7 hover:text-gray-500 ml-2"), customer_info_edit_path(:id => current_customer.id) %></p>
            <% else %>
                <p><%= link_to icon("user-circle", class:"size-7 hover:text-gray-500"), new_customer_session_path, class:"" %></p>
            <% end %>

            <%= link_to icon("shopping-cart", class:"size-7 hover:text-gray-500 ml-2") , cart_index_path, class:"" %><%if cart.length()>0%> <p>(<%= cart.length() %>)</p> <%end%>
          </div>
        </div>
      </nav>      
    </header>
    <main class="container mx-auto my-8 px-5 flex flex-col justify-center">
      <%= yield %>
    </main>
    <%= render "/layouts/footer" %>
  </body>
  
</html>
