<!DOCTYPE html>
<html>
  <head>
  <title>Camera Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-white bg-gradient-to-r from-cyan-900 to-cyan-600 h-screen flex flex-col justify-between">
    <header>
      <nav>
        <div class="bg-gradient-to-r from-gray-700 to-gray-600 flex flex-wrap items-center justify-between mx-auto p-4 text-lg">
          <div class="basis-1/12">
            <h1>Best Camera</h1>
          </div>
          <div class="basis-2/12">
            <ul class="flex flex-row space-x-8 mr-2">
              <li class="hover:text-blue-400"><%= link_to 'Home', root_path %></li>
              <li class="hover:text-blue-400"><%= link_to 'Products', products_path %></li>
              <li class="hover:text-blue-400"><%= link_to 'About', about_path %></li>
            </ul>
          </div>
          <div class="basis-1/6">
            <%= form_with(url: products_search_path, method: :get, local: true) do |form| %>
              <div class="container flex justify-center items-center h-4">
                <div class="text-black">
                  <%= text_field_tag(:keywords, nil, class: "input w-36", placeholder: 'Search product') %>
                </div>
                <div class="text-black">
                  <%= form.select :category, [["All category", "All"]] + Category.all.map { |category| [category.name, category.name] }  %>
                </div>
                <div class="border border-gray-200 ml-2 bg-gray-500 px-2 py-1 rounded-md">
                  <%= submit_tag("Search", class: "button is-primary") %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="basis-2/12 flex justify-between items-center">
            <% if current_customer != nil %>
                <p>Hello, <%= current_customer.name %></p>
                <p><%= link_to icon("user-circle", class:"w-6 h-6"), customer_info_edit_path(:id => current_customer.id) %></p>
                <%= button_to("Logout",destroy_customer_session_path,method: :delete, class:"border rounded-md px-2 py-1") %>
            <% else %>
                <%= link_to 'Login', new_customer_session_path, class:"border rounded-md px-2 py-1" %>
            <% end %>
          </div>
          <div class="basis-1/12">
            <div class="border rounded-md px-2 py-1 text-center"> <%= link_to "Cart(#{cart.length()})", cart_index_path%></div>
          </div>
        </div>
      </nav>      
    </header>
    <main class="container mx-auto my-8 px-5 flex flex-col justify-center">
      <%= yield %>
    </main>
    <footer>
      <div class="bg-gradient-to-r from-gray-600 to-gray-500 flex flex-wrap items-center justify-between mx-auto p-10 text-xl">
        <div class="text-lg px-8 py-4">
            <p class="mb-5">Phone: <%= @main_store_contact.phone %></h1>
            <p class="mb-5">E-mail: <%= @main_store_contact.email %></h1>
            <p >Address: <%= @main_store_contact.location %></h1>
        </div>
        <div class="text-lg px-8 py-4">
            <p>Open hours:</p>
            <p class="">Mon: <%= @main_store_contact.open_mon %></p>
            <p class="">Tue: <%= @main_store_contact.open_tue %></p>
            <p class="">Wed: <%= @main_store_contact.open_wed %></p>
            <p class="">Thu: <%= @main_store_contact.open_thu %></p>
            <p class="">Fri: <%= @main_store_contact.open_fri %></p>
            <p class="">Sat: <%= @main_store_contact.open_sat %></p>
            <p class="">Sun: <%= @main_store_contact.open_sun %></p>
        </div>
      </div>
    </footer>
  </body>
  
</html>
